@font-face {
	font-family: 'PixeloidSans';
	src: url('/font/PixeloidSans.ttf');
}

:root {
	font-family: monospace;
	font-family: 'PixeloidSans';
}

.glassEffect {
	background: #00000084;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}
